<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
        <mimeMap fileExtension=".gltf" mimeType="model/gltf-binary" />
        <mimeMap fileExtension=".mp3" mimeType="audio/mp3" />
        </staticContent>
    </system.webServer>
</configuration>