@import "reset";
@import "egg-hunt";
@import "slider";

@import "./components/game-counter.component.scss";
@import "./components/ui-timer.component.scss";
@import "./components/ui-score.component.scss";


html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body {
    background: #fff;
    color: #fff;
    font-size: 32px;

    @media (max-width: 767px) { 
        font-size: 22px;
      }
}
